.qrRoot {
    max-width: 600px;
    min-width: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forms {
    margin-bottom: 20px;
}